/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* //////////////////////////////////////////////////////// */

/* * {
	outline: rgb(70, 31, 241) 1px solid;
} */

.c1{
	background-color: rgb(161, 89, 48);
}

.c2{
	background-color: darkcyan;
}

.c3{
	background-color: rgb(109, 35, 116);
}

.c4{
	background-color: rgb(30, 97, 160);
}

.c5{
	background-color: rgb(131, 34, 34);
}

.c6{
	background-color: rgb(76, 114, 32);
}

.dark_text {
	color: rgb(56, 56, 56);
}

.light_text {
	color: rgb(255, 255, 255);
}

.content,
.header_content,
.icons_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icons_container {
	flex-direction: row;
	gap: 24px;
	width: fit-content;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: clip;
}

.shadow {
	box-shadow: 0px 3px 10px 3px rgba(88, 86, 86, 0.329);
}

.low_shadow {
	box-shadow: 0px 5px 20px 5px rgba(49, 49, 49, 0.363);
}

.content {
	position: relative;
	z-index: 1;
	top: -73vh;
}

.background {
	background-color: rgb(105, 55, 151);
	height: 73vh;
	width: 200vw;
	transform-origin: bottom left;
	transform: rotate(-30deg);
}

.header_content {
	padding: 4vh 5vw;
}

img {
	align-self: center;
}

.name {
	font-size: 78px;
	max-width: 290px;
	text-shadow: 1px 1px 2px rgb(0, 0, 0);
	line-height: 95px;
	transform: translateY(-100%);
	margin-bottom: -150px;
}

.inner_name {
	display: none;
}

.info {
	background-color: transparent;
	box-shadow: unset;
}

h1 {
	font-size: 52px;
	text-align: center;
	margin: 30px 0px 12px 0px;
}

header p {
	font-size: 27px;
	line-height: 35px;
	margin-bottom: 25px;
	
}

.icons_container {
	justify-self: center;
}

.top_icons {
	width: 36px;
	gap: 24px;
}

main,
.main_content,
.projects_container,
.project,
.project_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	margin-bottom: 118px;
}

h2 {
	font-size: 52px;
	margin: 100px 0px 12px 0px;
}

.projects_container {
	margin-top: 15px;
}

.project {
	margin-bottom: 60px;
}

.project_pic {
	height: 280px;
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
}

.project_info {
	height: 190px;
	width: 90vw;
}

.project_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px;
	height: 25%;
	width: 100%;
}

.project_name {
	font-size: 27px;
	padding-left: 40px;
}

.project_icons {
	display: flex;
	gap: 15px;
	padding-right: 20px;
}

.project_description {
	height: 75%;
	width: 80%;
	padding-left: 15px;
	padding-right: 20px;
	font-size: 20px;
}

.git,
.external {
	width: 24px;
}

footer {
	width: 100%;
	height: fit-content;
	background-color: rgb(105, 55, 151);
}

.footer_content,
.footer_text {
	height: fit-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

h3 {
	align-self: center;
	text-align: center;
	font-size: 52px;
	margin-top: 30px;
	margin-bottom: 10px;
}

footer div.footer_text {
	margin-bottom: 60px;
}

.footer_paragraph,
.address,
.email {
	margin-bottom: 35px;	
}

.footer_paragraph,
.address,
.phone,
.email {
	padding-left: 20px;
}

.footer_paragraph {
	font-size: 27px;
}

.address,
.phone,
.email {
	font-size: 20px;
	line-height: 24px;
	display: flex;
	flex-direction: row;
	align-self: flex-start;
	align-items: center;
}

.phone,
.email {
	gap: 5px;
}

.footer_icons {
	display: flex;
	gap: 38px;
	margin-bottom: 30px;
}

footer img.tel,
footer img.mail {
	filter: invert(100%);
	width: 25px;
	transform: translateY(10%);
	display: none;
}

footer .git,
footer .lin,
footer .twi {
	filter: invert(100%);
	width: 45px;
}

picture {
	font-size: 0;
}

@media (min-width: 600px) {
	.content {
		top: -58vh;
	}
	
	.background {
		height: 58vh;
		transform: rotate(-15deg);
	}

	header {
		height: fit-content;
		width: 100%;
	}
	
	.header_content {
		display: block;
		padding: 5vh 10vw;
	}
	
	.name {
		position: absolute;
		font-size: 58px;
		left: 35vw;
		top: 100px;
		min-width: 390px;
		text-shadow: 1px 1px 2px rgb(0, 0, 0);
		margin-top: 0px;
		margin-left: 0px;
		line-height: 0px;
	}

	.inner_name {
		display: none;
	}
	
	picture {
		float: left;
		margin-left: -45px;
		margin-right: 20px;
	}
	
	.info {
		background-color: white;
		min-width: 510px;
		width: 78vw;
		height: fit-content;
		box-shadow: 0px 3px 10px 3px rgba(88, 86, 86, 0.329);
	}
	
	h1 {
		font-size: 40px;
		text-align: center;
		margin-top: 100px;
		padding: 80px 0px 10px 0px;
		transform: translateX(-3%);
	}
	
	header p {
		font-size: 20px;
		line-height: 27px;
		height: fit-content;
		padding: 0px 20px 40px 30px;
	}

	.top_icons {
		display: none;
	}	

	main {
		width: 100%;
		height: fit-content;
		justify-content: flex-start;
	}


	.main_content {
		margin: 0px 0px 100px 0px;
		justify-content: flex-start;
		width: 615px;
		height: fit-content;
		justify-content: flex-start;
		align-items: center;
	}

	.projects_container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: inherit;
		min-width: 600px;
		height: fit-content;
		gap: 35px;
	}

	h2 {
		font-size: 40px;
		margin: 20px 0px 0px 0px;
		align-self: flex-start;
	}

	.project {
		margin: 0px 0px 20px 0px;
	}

	.project,
	.project_pic {
		width: 290px;
	}

	.project_pic {
		height: 210px;
		font-size: 40px;
	}

	.project_info {
		width: inherit;
		height: 140px;
		background-color: white;
	}

	.project_header {
		padding: 10px 0px;
	}

	.project_name {
		font-size: 20px;
	}

	.project_name,
	.project_description {
		padding-left: 20px;
	}

	.project_description {
		box-sizing: border-box;
		font-size: 16px;
		align-self: flex-start;
		width: inherit;
	}

	.git,
	.external {
		width: 20px;
	}

	footer {
		height: 66vh;
		font-size: 50px;
	}

	.footer_content {
		flex-direction: row;
		height: fit-content;
		width: 90vw;
		justify-content: center;
		align-items: flex-start;
		padding: 40px 40px 0px 50px;
		gap: 80px;
	}

	footer div.footer_text {
		margin-bottom: 0px;
		margin-top: 50px;
		width: fit-content;
	}

	h3 {
		align-self: flex-start;
		font-size: 40px;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.footer_paragraph {
		font-size: 20px;
		max-width: 300px;
		align-self: flex-start;		
	}

	.footer_paragraph,
	.address,
	.phone,
	.email {
		padding-left: 0px;
	}

	.address {
		margin-bottom: 20px;
	}
	
	.phone {
		margin-bottom: 10px;
	}

	.email {
		margin-bottom: 25px;
	}

	footer img.tel,
	footer img.mail {
		display: block;
		height: 30px;
		margin-right: 5px;
	}

	.footer_icons {
		align-self: flex-start;
		gap: 30px;
	}

	footer .git,
	footer .lin,
	footer .twi {
		width: 35px;
	}
}

@media (min-width: 1200px) {

	body {
		width: 100vw;
	}

	.content {
		top: -78vh;
		width: 100vw;
	}
	
	.background {
		height: 78vh;
		transform: rotate(-13deg);
	}

	header {
		width: 100vw;
	}
	
	.header_content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0vh 4vw;
		margin-top: 68px;
	}

	picture {
		float: none;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	header picture img {
		width: 538px;
		height: 607px;
		align-self: center;
		float: none;
		position: relative;
		z-index: 1;
	}
	
	.name {
		display: none;
	}

	.inner_name {
		display: block;
		font-size: 76.5px;
		width: fit-content;
		text-shadow: 1px 1px 2px rgb(0, 0, 0);
		transform: translate(2%, -115%);
		position: relative;
		z-index: 1;
	}
	
	.info {
		background-color: white;
		min-width: 0px;
		width: 53%;
		min-width: 650px;
		height: 450px;
		margin-top: -90px;
		padding-bottom: 30px;
		transform: translateY(2%);
		box-shadow: 0px 3px 10px 3px rgba(88, 86, 86, 0.329);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	h1 {
		font-size: 52px;
		text-align: left;
		margin: 27px 0px 0px 0px;
		padding: 18px 18px 0px 27px;
		transform: translateX(0%);
	}
	
	header p {
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 0px;
		padding: 0px 40px 27px 27px;
		justify-self: flex-start;
		
	}

	.icons_container {
		padding: 0px 54px 0px 27px;
		gap: 25px;
		align-self: flex-end;
	}
	
	.top_icons {
		display: flex;
		flex-direction: row;
		width: 36px;
	}

	main {
		margin: 0px 8vw;
	}

	.main_content {
		margin: 55px 8vw 90px;
		justify-content: flex-start;
		width: 1240px;
		min-width: 85wv;
		height: fit-content;
		justify-content: flex-start;
		align-items: center;
	}

	.projects_container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: inherit;
		min-width: 600px;
		height: fit-content;
		gap: 50px;
	}

	h2 {
		font-size: 52px;
		margin: 20px 0px 0px 0px;
		align-self: flex-start;
	}

	.project {
		margin: 0px 0px 10px 0px;
	}

	.project,
	.project_pic {
		width: 380px;
	}

	.project_pic {
		height: 280px;
		font-size: 50px;
	}

	.project_info {
		width: inherit;
		height: 190px;
		background-color: white;
	}

	.project_header {
		padding: 10px 0px;
	}

	.project_name {
		font-size: 26px;
	}

	.project_name,
	.project_description {
		padding-left: 20px;
	}

	.project_description {
		box-sizing: border-box;
		font-size: 20px;
		align-self: flex-start;
		width: inherit;
	}

	.project_icons {
		gap: 22px;
	}

	.git,
	.external {
		width: 25px;
	}

	footer {
		height: 100vh;
	}

	.footer_content {
		box-sizing: border-box;
		flex-direction: row;
		height: fit-content;
		width: 100vw;
		justify-content: space-between;
		align-items: flex-start;
		padding: 60px 100px 0px 140px;
		gap: 80px;
	}

	h3 {
		font-size: 52px;
	}

	.footer_paragraph {
		font-size: 25px;
		max-width: 400px;		
	}

	.footer_paragraph,
	.address,
	.email {
		margin-bottom: 50px;
	}

	.address,
	.phone,
	.email {
		font-size: 25px;
	}
	
	.email {
		margin-bottom: 40px;
	}

	footer div.footer_text {
		margin-top: 0px;
	}

	.footer_icons {
		gap: 35px;
	}

	footer .git,
	footer .lin,
	footer .twi {
		width: 45px;
	}

}